<div class="container">
    <h1>Listado de Prestamos</h1>
    
      <div class="filters">
        <form>
            <mat-form-field>
                <mat-label>Título del juego</mat-label>
                <input type="text" matInput placeholder="Título del juego" [(ngModel)]="filterGameTitle" name="game">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nombre cliente</mat-label>
                <input type="text" matInput placeholder="Nombre del cliente" [(ngModel)]="filterClientName" name="client">
            </mat-form-field>
        
        <mat-form-field>
            <mat-label for="fecha">Selecciona una fecha: </mat-label>
            <input type="date" matInput [(ngModel)]="filterDate" name="fecha">
            </mat-form-field>

        </form>

        <div class="buttons">
            <button mat-flat-button color = "primary" (click)="onCleanFilter()">Limpiar</button> 
            <button mat-flat-button color = "primary" (click)="onSearch()">Filtrar</button> 
        </div> 
        
    </div>
     
    

    <mat-table [dataSource]="dataSource"> 
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="gameName">
            <mat-header-cell *matHeaderCellDef> Nombre juego  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.game.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clientName">
            <mat-header-cell *matHeaderCellDef> Nombre cliente  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.client.name}} </mat-cell>
        </ng-container>



        <ng-container matColumnDef="fecha_prestamo">
            <mat-header-cell *matHeaderCellDef> Fecha prestamo  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecha_prestamo | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha_devolucion">
            <mat-header-cell *matHeaderCellDef> Fecha devolucion  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecha_devolucion | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="deletePrestamo(element)">
                    <mat-icon >clear</mat-icon>
                </button>
                
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> 
    

    <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageNumber" [pageSize]="pageSize" [length]="totalElements" showFirstLastButtons></mat-paginator>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="createPrestamo()">Nuevo prestamo</button> 
    </div>   
</div>

