<div class="container">
    <h1 *ngIf="prestamo.id == null">Crear prestamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="number" matInput placeholder="Identificador" [(ngModel)]="prestamo.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.client" name="client" required>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-select>
            <mat-error>El nombre del cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre juego </mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>El título no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha inicio</mat-label>
            <input type="date" matInput placeholder="Fecha inicio del préstamo" [(ngModel)]="prestamo.fecha_prestamo" name="fechaPrestamo" required>
            <mat-error>Fecha inicio no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha fin</mat-label>
            <input type="date" matInput placeholder="Fecha fin del préstamo" [(ngModel)]="prestamo.fecha_devolucion" name="fechaDevolucion" required>
            <mat-error>Fecha fin no puede estar vacía</mat-error>
        </mat-form-field>

       
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
